*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
} 
#navbar{
    padding: 10px 5%;
    height: 70px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid grey;
    background-color: #234365;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(255, 166, 64);
    cursor: pointer;
}
#project_{
    height: 50px;
    background-color: rgb(244, 244, 244);
}
#home_{
    height: 50px;
    background-color: rgb(244, 244, 244);
}

                            /* ======================Navbar end here========================== */
#home{
    width: 100%;
    height: 550px;
    background-color: rgb(244, 244, 244);
}
#home>h1{
    text-align: center;
    color: #234365;
    margin-bottom: 20px;
   padding-top: 120px;
    font-size: 60px;
    font-weight: bold;
}
#home>h2{
    text-align: center;
    font-size: 30px;
    color: #234365;
}
#hi{
    color: rgb(255, 166, 64);
}
#about_{
    height: 55px;
    background-color: rgb(244, 244, 244);
}
#social{
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
}
#social>a>img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

                        /* ------------------------social end here----------------------------- */
#about{
    width: 100%;
    /* height: 550px; */
    height: auto;
    background-color: #234365;
    padding: 0 9%;
    padding-bottom: 40px;
    margin: auto;
}
#about>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 25px;
    color: rgb(255, 166, 64);
}
#about_in{
    display: flex;
    justify-content: space-around;
}
#photo>img{
    width: 310px;
    border-radius: 5%;
    border: 1px solid rgb(44, 44, 44);
}
#info{
    width: 40%;
}
#info>h1{
    font-size: 35px;
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 45px;
}
#info>p{
    font-size: 18px;
    color: white;
    line-height: 33px;
    font-weight: lighter;
    margin-bottom: 30px;
}
#viewbtn{
    background-color: white;
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 20px;
}
#downbtn{
    background-color: white;
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
#viewbtn:hover{
    background-color: #234365;
    color: rgb(255, 166, 64);
    border: 1px solid rgb(255, 166, 64);
}
#downbtn:hover{
    background-color: #234365;
    color: rgb(255, 166, 64);
    border: 1px solid rgb(255, 166, 64);
}

/* -------------------------------------About Me end here----------------------------------------------- */

#tech-stack{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: rgb(244, 244, 244);
}
#tech-stack>h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 40px;
    color: rgb(255, 166, 64);
}
#toolstitle{
    margin-top: 40px;
}
#all_logo{
    width: 75%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 25px 0px;
}
#all_logo>div{
    width: 180px;
    height: 180px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    border: 3px solid #234365;
    border-radius: 20px;
}
#all_logo>div>img{
    width: 100px;
    height: 100px;
}

#all_logo>.neeche{
    display:inline-block;
}
#all_logo>.neeche>h2{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: #234365;
}
#skill_{
    height: 60px;
    background-color: rgb(244, 244, 244);
}

/* ---------------------------------------Skills end here---------------------------------- */
#projects{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: #234365;
}
#projects>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 35px;
    color: rgb(255, 166, 64);
}
.project_{
    width: 90%;
    height: auto;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}
#projects>.project_>.project_img{
    width: 500px;
}
#projects>.project_>.project_img>img{
    width: 100%;
    border-radius: 20px;
}
#projects>.project_>.projects_Info>p{
    font-size: 18px;
    color: white;
    line-height: 33px;
    font-weight: lighter;
}
#projects>.project_>.projects_Info>h1{
    font-size: 35px;
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
}
#projects>.project_>.projects_Info>.project_btn{
    margin-top: 30px;
}
#projects>.project_>.projects_Info>.project_btn>.live_code{
    background-color: white;
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
#projects>.project_>.projects_Info> .project_btn>.live_code:hover{
    background-color: #234365;
    color: rgb(255, 166, 64);
    border: 1px solid rgb(255, 166, 64);
}
.techstacktags{
    font-size: 20px;
    color:  rgb(255, 166, 64);
}
/* ----------------------------------------Projects end here------------------------------------ */


#statistic{
    width: 100%;
    height: 400px;
    background-color: rgb(244, 244, 244);
}
#statistic>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 35px;
    color: rgb(255, 166, 64);
}

#statistic_div{
    width: 65%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#statistic_div>div{
    width: 22%;
    height: 180px;
    border: 3px solid #234365;
    border-radius: 20px;
}
#statistic_div>div>.tp{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    color: #234365;
}
#statistic_div>div>.tp2{
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    font-weight: bolder;
    color: rgb(255, 166, 64);
}
/* ---------------------------------------------Statistic end here----------------------------------- */
#github{
    width: 100%;
    padding-bottom: 50px;
    background-color:#234365;
}
#github>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 35px;
    color: rgb(255, 166, 64);
}
#stats{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#stats>img{
    width: 100%;
}
#stats_2{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#stats_2>img{
    width: 100%;
}
#stats_3{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#stats_3>img{
    width: 100%;
}

#mul{
    width: 80%;
    margin: auto;
}
#mul>img{
    width: 100%;
    margin-bottom: 40px;
}
.calendar{
    width: 80%;
    padding-top: 20px;
    color: white;
    font-size:25px;
}
#github0{
    height: 50px;
    background-color: rgb(244, 244, 244);
}
/* ---------------------------------------------Github end here--------------------------------------- */
#contact{
    width: 100%;
    height: 450px;
    background-color: rgb(244, 244, 244);
}
#contact>h1{
text-align: center;
font-size: 40px;
margin-bottom: 25px;
padding-top: 35px;
color: rgb(255, 166, 64);
}
#contact_div{
    width: 100%;
    height: 200px;
    margin: auto;
}
#contact_div>.contact_div_1{
    width:25%;
    height: 70px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    border: 3px solid #234365;
    border-radius: 20px;
    align-items: center;
    color: #234365;
   justify-content: space-around;
   font-size: 20px;
   cursor: pointer;
}
#contact_div>.contact_div_1>a{
    text-decoration: none;
    color: #234365;
}
#contact_div>.contact_div_1>img{
    width: 45px;   
}

#contact_div>.contact_div_2{
    width:28%;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    border: 3px solid #234365;
    border-radius: 20px;
    align-items: center;
    color: #234365;
   justify-content: space-around;
   font-size: 20px;
   cursor: pointer;
}
#contact_div>.contact_div_2>a{
    text-decoration: none;
    color: #234365;
}
#contact_div>.contact_div_2>img{
    width: 45px;   
}
#contact_div>.contact_div_1:hover{
    background-color: #d9d9d9;
}
#contact_div>.contact_div_2:hover{
    background-color: #d9d9d9;
}

#contact_logo{
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
#contact_logo>div>a>img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}
#copyright{
    width: 100%;
    height: 50px;
    background-color: #234365;
    color: rgb(255, 166, 64);
    display: flex;
    align-items: center;
    justify-content: center;
}
#white{
    color: white;
    font-size: 25px;
    display: none;
}
#white2{
    color: white;
    font-size: 25px;
    display: none;
    margin-top: 10px;
}

/* ----------------------------------------------------------------------------------- */

@media only screen and (max-width :766px){

    #white{
        display: block;
    }
    #white2{
        display: block;
    }

    #home{
        width: 100%;
        height: 500px;
        background-color: rgb(244, 244, 244);
    }
    #home>h1{
        font-size: 45px;
    }
    #home>h2{
        text-align: center;
        font-size: 26px;
        color: #234365;
    }
    #about{
        height: auto;
        padding-bottom: 30px;
    }
    #about_in{
        display: block;
    }
    #photo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #photo>img{
        width: 310px;
    }
    #info{
        width: 100%;
    }
    #info>h1{
        font-size: 40px;
        text-align: center;
        font-weight: 550;
    }
    #info>p{
        font-size: 18px;
        line-height: 27px;
        padding-left: 10px;
    }
    #resume_btn{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: auto;
    }
    #navbar{
        width: 100%;
        padding: 10px 8%;
        height: 70px;
        position: fixed;
        top: 0;
        border-bottom: 1px solid grey;
        background-color: #234365;
    }
    nav ul {
        background-color: #234365;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    #white{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #tech-stack{
        height: auto;
    }
    #tech-stack>h1{
        font-size: 35px;
    }
    #all_logo{
        width: 100%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 20px 0;
        padding-bottom: 50px;
        justify-content: space-around;
    }
    #all_logo>div{
        width: 160px;
        height: 160px;
    }
    #all_logo>div>img{
        width: 80px;
        height: 80px;
    }
    #projects{
        height: auto;
        padding-bottom: 50px;
    }
    .project_{
        width: 90%;
        height: auto;
        display: block;
        padding-bottom: 20px;
    }
    #projects>.project_>.project_img{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    #projects>.project_>.projects_Info>p{
        font-size: 19px;
        color: white;
        line-height: 30px;
        padding: 0 15px;
    }
    #projects>.project_>.projects_Info>h1{
        font-size: 35px;
        padding: 20px 0;
        text-align: center;
    }
    #projects>.project_>.projects_Info .project_btn{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 20px;
    }
    #statistic{
        height: auto;
        padding-bottom: 50px;
    }
    #statistic_div{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 0;
    }
#statistic_div>div{
    width: 80%;
    height: 180px;
    margin: auto;
}
#statistic_div>div>.tp{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    color: #234365;
}
#statistic_div>div>.tp2{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bolder;
    color: rgb(255, 166, 64);
}
    #github{
        height: auto;
        padding-bottom: 50px;
    }
    #contact_div{
        width: 100%;
        height: 200px;
        margin: auto;
    }
#contact_div>.contact_div_1{
    width:75%;
    height: 70px;
   font-size: 13px;
   padding: 0 15px;
}
#contact_div>.contact_div_2{
    width:75%;
    height: 70px;
   font-size: 13px;
   padding: 0 15px;
}
}
#copyright>p{
    font-size: 13px;
}

/* ---------------------------------------------------------------------------------------------------- */

@media (min-width: 767px) and (max-width: 1024px){

    /* #navbar{
        width: 100%;
    } */
    #contact_div>.contact_div_1{
        width:40%;
        height: 70px;
       font-size: 16px;
       padding: 0 15px;
    }
    #contact_div>.contact_div_2{
        width:40%;
        height: 70px;
       font-size: 16px;
       padding: 0 15px;
    }
    #statistic_div{
        width: 85%;
    }
    #projects>.project_>.project_img{
        width: 45%;
    }
    .project_{
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    #projects>.project_>.projects_Info{
       width: 45%;
    }
    #all_logo{
        width: 90%;
        /* height: 600px; */
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        gap: 15px;
        /* padding-bottom: 40px; */
    }
    nav ul li{
        margin: 10px 6px 0 10px;
    }
    #info{
        width: 100%;
        height: auto;
    }
    #about_in{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #photo{
        width: 45%;
    }
    #photo>img{
        /* width: 310px; */
        width: 100%;
        border-radius: 5%;
        border: 1px solid rgb(44, 44, 44);
    }
    #info{
        width: 45%;
    }
}