*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #234365;
    color: white;
    height: 70px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid grey;
}
#logo{
    width: 30%;
    padding-left: 20px;
}
#logo>h2{
    font-size: 28px;
}
#logo>h2:hover{
    cursor: no-drop;
}
#tags{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
#tags>h3:hover{
    color: rgb(255, 166, 64);
    cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
    #logo{
        width: 25%;
        padding-left: 0px;
    }
    #logo>h2{
        font-size: 20px;
    }
    #tags{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
    #tags>h3:hover{
        color: black;
        cursor: pointer;
    }
  } */

                            /* ======================Navbar end here========================== */
#home{
    width: 100%;
    height: 550px;
    background-color: rgb(244, 244, 244);
}
#home>h1{
    text-align: center;
    color: #234365;
    margin-bottom: 20px;
   padding-top: 120px;
    font-size: 60px;
    font-weight: bold;
}
#home>h2{
    text-align: center;
    font-size: 30px;
    color: #234365;
}
#hi{
    color: rgb(255, 166, 64);
}
#social{
    width: 220px;
    margin: auto;
    margin-top: 55px;
}
#social>img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

                        /* ------------------------social end here----------------------------- */
#about{
    width: 100%;
    height: 550px;
    background-color: #234365;
    padding: 0 9%;
    margin: auto;
}
#about>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 25px;
    color: rgb(255, 166, 64);
}
#about_in{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid gray;
    border-radius: 25px; */
}
#photo>img{
    width: 310px;
    border-radius: 5%;
    border: 1px solid rgb(44, 44, 44);
}
#info{
    width: 40%;
    /* border: 1px solid white; */
}
#info>h1{
    font-size: 35px;
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 45px;
}
#info>p{
    font-size: 18px;
    color: white;
    line-height: 33px;
    font-weight: lighter;
    margin-bottom: 30px;
}
#viewbtn{
    width: 150px;
    height: 45px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
#downbtn{
    background-color: white;
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
#viewbtn:hover{
    background-color: #234365;
    color: rgb(255, 166, 64);
    border: 1px solid rgb(255, 166, 64);
}
#downbtn:hover{
    background-color: #234365;
    color: rgb(255, 166, 64);
    border: 1px solid rgb(255, 166, 64);
}

/* -------------------------------------About Me end here----------------------------------------------- */

#tech-stack{
    width: 100%;
    height: 800px;
    background-color: rgb(244, 244, 244);
}
#tech-stack>h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(255, 166, 64);
}
#all_logo{
    width: 70%;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
#all_logo>div{
    width: 180px;
    height: 180px;
    border: 1px solid #234365;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}
#all_logo>div>img{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
}

#all_logo>.neeche{
    display:inline-block;
}
#all_logo>.neeche>h2{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: #234365;
}

/* ---------------------------------------Skills end here---------------------------------- */
#projects{
    width: 100%;
    height: 1620px;
    background-color: #234365;
}
#projects>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 35px;
    color: rgb(255, 166, 64);
}
.project_{
    width: 90%;
    height: 450px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#projects>.project_>.project_img{
    width: 500px;
}
#projects>.project_>.project_img>img{
    width: 100%;
    border-radius: 20px;
}
#projects>.project_>.projects_Info>p{
    font-size: 18px;
    color: white;
    line-height: 33px;
    font-weight: lighter;
}
#projects>.project_>.projects_Info>h1{
    font-size: 35px;
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
}
#projects>.project_>.projects_Info>button{
    width: 120px;
    height: 45px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}
#projects>.project_>.projects_Info>button:hover{
    background-color: #234365;
    color: rgb(255, 166, 64);
    border: 1px solid rgb(255, 166, 64);
}

/* ----------------------------------------Projects end here------------------------------------ */


#statistic{
    width: 100%;
    height: 500px;
    background-color: rgb(244, 244, 244);
}
#statistic>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 35px;
    color: rgb(255, 166, 64);
}

/* ---------------------------------------------Statistic end here----------------------------------- */
#github{
    width: 100%;
    height: 1800px;
    background-color:#234365;
}
#github>h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    padding-top: 35px;
    color: rgb(255, 166, 64);
}
#stats{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#stats>img{
    width: 100%;
}
#stats_2{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#stats_2>img{
    width: 100%;
}
#stats_3{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#stats_3>img{
    width: 100%;
}

#mul{
    width: 80%;
    margin: auto;
}
#mul>img{
    width: 100%;
}

/* ---------------------------------------------Github end here--------------------------------------- */
#contact{
    width: 100%;
    height: 500px;
}
#contact>h1{
text-align: center;
font-size: 40px;
margin-bottom: 25px;
padding-top: 35px;
color: rgb(255, 166, 64);
}